@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Rubik:wght@600&display=swap");

:root {
  --title: #11175e;
  --gray: #b1bacb;
  --green: #00d8a7;
  --border: #eee;
  --todo-normal: #001747;
  --btn-hover: #0352fc;
  --todo-hover: #2d70fd;
  --todo-done: #8f98a8;
  --bg: #f5f5f5;
  --white: #fff;

  --transition-all: all 0.2s linear;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
